apiVersion: kops/v1alpha2
kind: Cluster
metadata:
  name: {{ cluster_name }}
spec:
  api:
    loadBalancer:
      type: Public
  channel: stable
  cloudProvider: aws
  configBase: {{ kops_state_store }}/{{ cluster_name }}
  dnsZone: {{ dns_zone }}
  etcdClusters:
  - etcdMembers:
    - instanceGroup: master-{{ master_zone_1 }}
      name: a
    name: main
  - etcdMembers:
    - instanceGroup: master-{{ master_zone_1 }}
      name: a
    name: events
  kubernetesApiAccess:
  - 0.0.0.0/0
  kubernetesVersion: 1.5.6
  masterInternalName: api.internal.{{ cluster_name }}
  masterPublicName: api.{{ cluster_name }}
  networkCIDR: {{ network_cidr }}
  networkID: {{ aws_vpc_id }}
  networking:
    weave: {}
  nonMasqueradeCIDR: 100.64.0.0/10
  sshAccess:
  - 0.0.0.0/0
  subnets:
  - cidr: 172.20.16.0/24
    egress: {{ nat_gateway_1_id }}
    name: {{ zone_1 }}
    type: Private
    zone: {{ zone_1 }}
  - cidr: 172.20.17.0/24
    egress: {{ nat_gateway_2_id }}
    name: {{ zone_2 }}
    type: Private
    zone: {{ zone_2 }}
  - cidr: 172.20.18.0/24
    egress: {{ nat_gateway_3_id }}
    name: {{ zone_3 }}
    type: Private
    zone: {{ zone_3 }}
  - cidr: 172.20.20.0/24
    name: utility-{{ zone_1 }}
    type: Utility
    zone: {{ zone_1 }}
  - cidr: 172.20.21.0/24
    name: utility-{{ zone_2 }}
    type: Utility
    zone: {{ zone_2 }}
  - cidr: 172.20.22.0/24
    name: utility-{{ zone_3 }}
    type: Utility
    zone: {{ zone_3 }}
  topology:
    dns:
      type: Public
    masters: private
    nodes: private
---
apiVersion: kops/v1alpha2
kind: InstanceGroup
metadata:
  labels:
    kops.k8s.io/cluster: {{ cluster_name }}
  name: master-{{ master_zone_1 }}
spec:
  image: kope.io/k8s-1.5-debian-jessie-amd64-hvm-ebs-2017-01-09
  machineType: t2.medium
  maxSize: 1
  minSize: 1
  role: Master
  subnets:
  - {{ master_zone_1 }}
---
apiVersion: kops/v1alpha2
kind: InstanceGroup
metadata:
  labels:
    kops.k8s.io/cluster: {{ cluster_name }}
  name: nodes
spec:
  image: kope.io/k8s-1.5-debian-jessie-amd64-hvm-ebs-2017-01-09
  machineType: t2.micro
  maxSize: 3
  minSize: 3
  role: Node
  subnets: {{ node_zones | to_yaml}}
